<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>

		<services>

			<service name="BinaryServer.BinaryService">

				<endpoint
				  address=""
				  binding="basicHttpBinding"
				  contract="BinaryInterfaces.IBinaryService"
				  name="BinaryServiceEndpoint"/>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/BinaryService"/>
					</baseAddresses>
				</host>

			</service>

		</services>

	</system.serviceModel>

</configuration>